<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mon Application{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="{% url 'app:home' %}">Accueil</a>
          {% if user.is_authenticated %}
          <span>Bienvenue, {{ user.username }}!</span>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Se déconnecter</button>
          </form>
          <button><a href="{% url 'app:services' %}">Services</a></button>
          {% else %}
          <a href="{% url 'login' %}">Connexion</a>
          {% endif %}
        </div>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
