{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h1>Accueil</h1>

<p>Tout les skills :</p>

{% if user.is_authenticated %}
<ul>
  {% for skill in all_skill %}
  
    {% if skill.name in user_skill %}
      <li>{{ skill }} (Votre compétence)</li>
    {% else %}
      <li>{{ skill.name }}</li>
    {% endif %}
  
  {% endfor %}
</ul>

{% else %}

<ul>
  {% for skill in all_skill %}
    <li>{{ skill.name }}</li>
  {% endfor %}
</ul>

{% endif %}

<p>Derniers services Acceptés :</p>

<ul>
  {% for service in last_services %}
  <li>
    <strong>{{ service.title }}</strong><br>
    {{ service.description }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
